.text {
    -unity-text-align: upper-center;
    -unity-font-definition: url("project://database/Packages/com.erlend-eiken-oppedal.custompackageimporter/Editor/home-video-font/HomeVideo-BLG6G.ttf?fileID=12800000&guid=a2c8e4c4789a7de49b190104473bfa9e&type=3#HomeVideo-BLG6G");
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 11px;
    margin-right: 11px;
    margin-bottom: 11px;
    margin-left: 11px;
}
